<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../web/css/datosInformativos.css">
    <title>Datos Curiosos</title>
</head>
<body>
    <div class="encabezadoadmin">
        <div class="container">
            <ul class="nav nav-pills nav-fill">
                <li class="imgfadmin">
                    <a class="navbar-brand" href="/dashboardAdmin"><img src="../web/img/logo.png" alt="" width="150" height="40"></a>
                </li>
                <li class="nav-itemadmin">
                    <a class="nav-linkadmin1" href="./dashboard-admin.html">Herramientas de administrador</a>
                </li>
                <li class="nav-itemadmin">
                    <a class="nav-linkadmin1" href="../Catalogo-5 (2).pdf">Ir a catálogo</a>
                </li>
                <li class="nav-itemadmin">
                    <a class="nav-linkadmin1" href="../ .html">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-form row mt-3 justify-content-center mb-3">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header fw-semibold text-danger">
                    Formulario de datos curiosos
                </div>
                <div class="card-body">
                    <form class="formularioDatoscuriosos">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="tituloNoticia">Titulo</label>
                                <input type="text" id="tituloNoticia" class="form-control">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="noticia">Notícia</label>
                                <textarea class="form-control" id="noticia" rows="6"></textarea>

                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="fuenteNoticia">Fuente</label>
                                <input type="text" id="fuenteNoticia" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1"><button class="btn btn-primary" type="submit">Subir</button></div>
                            <div class="col-lg-1"><button class="btn btn-danger" type="reset">Cancelar</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="tablaDatoscuriosos row justify-content-center">
        <div class="col-lg-10">
            <table class="table text-dark table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Fecha de Publicación</th>
                    <th scope="col">Información ingresada</th>
                    <th scope="col">Fuente de Información</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="col">1</td>
                    <td scope="col">Mark</td>
                    <td scope="col">Otto</td>
                    <td scope="col">@mdo</td>
                  </tr>
                </tbody>
              </table>
        </div>
        
    </div>
</body>
</html>