<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Usuarios</title>
    <link rel="stylesheet" href="../web/css/gestion.css">
    <script src="https://kit.fontawesome.com/c6c51672f6.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header>              
        <h1><img src="../web/img/logo.png" alt="" width="110px" height="50px"> Bienvenido <i>Administrador...</i></h1>
        
        <nav>
            <a href="dashboard-admin.html">Regresar</a>
            <a href="../index.html">Cerrar Cesión</a>
        </nav>
    </header>

    <section id="tabla">
        <table>
            <thead>
                <tr>
                    <th>Borrar</th>
                    <th>Editar</th>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Contraseña</th>
                </tr>
            </thead>
            <tbody>                
            </tbody>            
        </table>
    </section>

    <script src="../web/js/modelo/Usuario.js"></script>
    <script src="../web/js/controlador/usuario1.js"></script>
    <script src="../web/js/gestionde.js"></script>
    
</body>
</html>