<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Usuarios</title>
    <link rel="stylesheet" href="../web/css/gestion.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c6c51672f6.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header>              
        <h1><img src="../web/img/logo.png" alt="" width="110px" height="50px"> Bienvenido <i>Administrador...</i></h1>
        
        <nav>
            <a href="/dashboardAdmin">Regresar</a>
            <a class="nav-linkadmin1" href="{{ url_for('logout') }}">Cerrar sesión</a>
        </nav>
    </header>
    <div class="row justify-content-center">
    <div class="col-lg-8">
        <form id="formRegistro" name="formRegistro">
            <!--Cedula-->
            <div class="row mb-3">
                <div class="col">
                    <label for="cedula">Cedula:</label>
                    <input type="text" name="cedula" class="form-control" placeholder="Cedula" id="cedula" disabled>
                </div>
            </div>
            <!--Correo-->
            <div class="row mb-3">
                <div class="col">
                    <label for="correo">Correo electronico:</label>
                    <input type="text" name="correo" class="form-control" placeholder="Ingrese su correo" required>
                </div>
            </div>
            <!--Nombres-->
            <div class="row mb-3">
                <div class="col">
                    <label for="nombres">Nombre y apellido:</label>
                    <input type="text" name="nombres" class="form-control" placeholder="Ingrese su nombre y apellido" id="nombres">
                </div>
            </div>
            <!--Fechanacimiento-->
            <div class="row mb-3">
                <div class="col">
                    <label for="fechaNacimiento">Fecha de nacimiento:</label>
                    <input type="date" name="fechaNacimiento" class="form-control" id="fechaNacimiento">
                </div>
            </div>
            <!--calleprimaria-->
            <div class="row mb-3">
                <div class="col">
                    <label for="callePrimaria">Calle Principal:</label>
                    <input type="text" name="callePrimaria" class="form-control" id="callePrimaria" placeholder="Ingrese su calle principal">
                </div>
            </div>
            <!--calleSecundaria-->
            <div class="row mb-3">
                <div class="col">
                    <label for="calleSecundaria">Calle Alterna:</label>
                    <input type="text" name="calleSecundaria" class="form-control" id="calleSecundaria" placeholder="Ingrese su calle alterna">
                </div>
            </div>
                <!--contrasenia-->
                <div class="row mb-3">
                    <div class="col">
                        <label for="contrasenia">Contraseña:</label>
                        <input type="password" name="contrasenia" class="form-control" id="contrasenia" disabled placeholder="Ingrese su contraseña">
                    </div>
                </div>
            <!--Botones-->
            <div class="row justify-content-center mb-3">
                    <div class="col-lg-3">
                        <button class="btn btn-danger" class="form-control" type="submit">Actualizar</button>
                </div>
            </div>
        </form>
    </div>
</div>
    <div class="card">
        <div class="tabla-listado mt-3">
            <table class="table table-dark table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Cédula</th>
                  <th scope="col">Acciones</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Nombres</th>
                  <th scope="col">Fecha de Nacimiento</th>
                  <th scope="col">Es usuario:</th>
                  <th scope="col">Es administrador:</th>
                  <th scope="col">Nivel rol:</th>
                  <th scope="col">Contraseña:</th>
                </tr>
              </thead>
              <tbody id="tablaUsuarios" class="table-group-divider"></tbody>
            </table>
          </div>          
        </table>
    <script src=" ../web/js/login.js "></script>
    
</body>
</html>