<!DOCTYPE html>
<html lang="es-la">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../web/css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>Pedidos</title>
</head>


<div class="fondo">

    <body>
        <div>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        </div>
        <div class="cabecera2dash">
            <div class="container">
                <ul class="nav nav-pills nav-fill">
                    <li class="imgdashuser">
                    <a class="navbar-brand" href="/dashboard"><img src="../web/img/logo.png" alt="" width="150"
                            height="40"></a>
                    </li>
                    <li class="nav-item2">
                        <a class="nav-link1" href="/compras">Nueva compra</a>
                    </li>
                    <!-- <li class="nav-item2">
                        <a class="nav-link1" href="/armarpc">Armar PC</a>
                    </li>-->
                    <li class="nav-item2">
                        <a class="nav-link1" href="/catalogo">Ir a catálogo</a>
                    </li>
                    <li class="nav-item2">
                        <a class="nav-link1" href="/">Cerrar sesión</a>
                    </li>
                </ul> 
            </div>
        </div>
<div class="enca-p">
    <h1>PEDIDOS</h1>
    <h6>Revisa el estado de envio de tus pedidos</h6>
</div>

<table class="table table-bordered">

    <thead class="table-striped table-dark">
        <tr>
            <th>N°</th>
            <th>FECHA DEL PEDIDO</th>
            <th>FECHA DE LA ENTREGA</th>
            <th>LUGAR DE LA ENTREGA</th>
            <th>TOTAL DEL PEDIDO</th>
            <th>CEDULA DEL CLIENTE</th>

        </tr>
    </thead>
    <br>
    <br>
    <tbody id="tablaPedidos" class="table-group-divider">
    </tbody>
    <br> <br> <br> <br><br><br><br><br><br><br>
    <center>  <h1 style="color: red;">¡GRACIAS POR CONFIAR EN PC BUILDER EC!</h1>   </center>
   
</table>


</body>
</div>

</div>

</html>